$white: #fff;
$black: #000;
$dark-gray: #333;
$medium-gray: #444;
$gray: #a5a5a5;
$light-gray: #c4c4c4;
$blue: #7f9aec;
$medium-blue: rgb(138, 139, 185);
$light-blue: #92a9ee;

* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  box-sizing: border-box;
  color: $black;
  background-color: $black;
}

h1 {
  color: $white;
  font-weight: 800;
  text-align: center;
  margin-bottom: 5rem;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.row {
  flex-flow: row nowrap;
}

.column {
  flex-flow: column wrap;
}

.flex-end {
  justify-content: flex-end;
}

.jc-sp-btw {
  justify-content: space-between;
}

.jc-sp-around {
  justify-content: center;
  gap: 8px;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
}

#calculator-view {
  width: 420px;
  height: 570px;
  background-color: $dark-gray;
  border-radius: 16px;
  border: 8px solid $medium-blue;
  #viewport {
    width: 93%;
    height: 93%;
    #display {
      width: 90%;
      height: 25%;
      margin-top: 1rem;
      color: white;
      input {
        border: 3px solid $medium-gray;
        font-size: 1.7rem;
        height: 50%;
        color: white;
        outline: none;
        font-size: 3rem;
        width: 100%;
        text-align: right;
        padding-right: 20px;
        margin-top: 4rem;
        margin-bottom: 1rem;
      }
    }
    #keypad {
      width: 95%;
      margin: auto;
      button {
        border: none;
        border-radius: 8px;
        width: 60px;
        height: 60px;
        font-size: 1.2rem;
        cursor: pointer;
        &.fx-key {
          background-color: $dark-gray;
          color: $gray;
          &:hover {
            background-color: $medium-gray;
          }
        }
        &.numeric-key {
          background-color: $dark-gray;
          color: $light-gray;
          &:hover {
            background-color: $medium-gray;
          }
        }
        &.op-key {
          background-color: $blue;
          font-size: 1.7rem;
          margin-left: 8px;
          &:hover {
            background-color: $light-blue;
          }
        }
        &.special {
          width: 100%;
          grid-column-start: 1;
          grid-column-end: span 2;
          text-align: left;
          padding-left: 25px;
        }
      }
    }
  }
}
